// // Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// // Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
//  
.full-height {
    min-height: calc(100vh - 150px);
}

.tableFixHead {
    overflow: auto;
    height: 100px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FFF;
}


/* Just common table stuff. Really. */

table {
    border-collapse: collapse;
    width: 100%;
}